# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*lib/
*lib64/
*parts/
*sdist/
*var/
*wheels/
*share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json


# Virtual Environment
venv/
env/
.venv/
.env/

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-store/
lerna-debug.log


# Build output
dist
dist-ssr

# Secrets - VERY IMPORTANT
.env
.env.*
!.env.example

# OS-specific
.DS_Store
Thumbs.db

project_contents.txt
