@import "tailwindcss";

@theme {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --radius: 0.625rem;

  /* Dark mode variables */
  --dark-background: oklch(0.129 0.042 264.695);
  --dark-foreground: oklch(0.984 0.003 247.858);
  --dark-card: oklch(0.208 0.042 265.755);
  --dark-card-foreground: oklch(0.984 0.003 247.858);
  --dark-primary: oklch(0.929 0.013 255.508);
  --dark-primary-foreground: oklch(0.208 0.042 265.755);
  --dark-secondary: oklch(0.279 0.041 260.031);
  --dark-secondary-foreground: oklch(0.984 0.003 247.858);
  --dark-muted: oklch(0.279 0.041 260.031);
  --dark-muted-foreground: oklch(0.704 0.04 256.788);
  --dark-accent: oklch(0.279 0.041 260.031);
  --dark-accent-foreground: oklch(0.984 0.003 247.858);
  --dark-destructive: oklch(0.704 0.191 22.216);
  --dark-border: oklch(1 0 0 / 10%);
  --dark-input: oklch(1 0 0 / 15%);
  --dark-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    border-color: var(--border);

    @media (prefers-color-scheme: dark) {
      background-color: var(--dark-background);
      color: var(--dark-foreground);
      border-color: var(--dark-border);
    }
  }
}